examples/flows/transfer-mv/definition.json
{
  "Comment": "A Flow for performing a logical 'move' operation by first transfering from a source to a destination and then deleting from the source.",
  "StartAt": "Transfer",
  "States": {
    "Transfer": {
      "Type": "Action",
      "ActionUrl": "https://actions.globus.org/transfer/transfer",
      "WaitTime": 172800,
      "ExceptionOnActionFailure": false,
      "Parameters": {
        "source_endpoint_id.$": "$.source_endpoint_id",
        "destination_endpoint_id.$": "$.destination_endpoint_id",
        "label.$": "$.transfer_label",
        "transfer_items": [
          {
            "source_path.$": "$.source_path",
            "destination_path.$": "$.destination_path",
            "recursive.$": "$.recursive"
          }
        ]
      },
      "ResultPath": "$.TransferResult",
      "Next": "CheckTransfer"
    },
    "CheckTransfer": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransferResult.status",
          "StringEquals": "FAILED",
          "Next": "TransferFailed"
        }
      ],
      "Default": "Delete"
    },
    "Delete": {
      "Type": "Action",
      "ActionUrl": "https://actions.globus.org/transfer/delete",
      "WaitTime": 21600,
      "ExceptionOnActionFailure": false,
      "Parameters": {
        "endpoint_id.$": "$.source_endpoint_id",
        "recursive.$": "$.recursive",
        "label.$": "$.delete_label",
        "items.=": "[`$.source_path`]"
      },
      "ResultPath": "$.DeleteResult",
      "Next": "CheckDelete"
    },
    "CheckDelete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DeleteResult.status",
          "StringEquals": "FAILED",
          "Next": "DeleteFailed"
        }
      ],
      "Default": "AllComplete"
    },
    "TransferFailed": {
      "Type": "Pass",
      "Parameters": {
        "message": "Transfer failed",
        "details.$": "$.TransferResult.details"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    },
    "DeleteFailed": {
      "Type": "Pass",
      "Parameters": {
        "message": "Deletion failed",
        "details.$": "$.DeleteResult.details"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    },
    "AllComplete": {
      "Type": "Pass",
      "Parameters": {
        "message": "Move operation complete"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    }
  }
}
