examples/flows/loop-a-set-number-of-times/definition.json
{
    "StartAt": "Test",
    "States": {
        "Test": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.state_manager",
                    "IsPresent": false,
                    "Next": "Initialize"
                },
                {
                    "Variable": "$.state_manager.counter",
                    "NumericLessThan": 10,
                    "Next": "Increment"
                }
            ],
            "Default": "Success"
        },
        "Initialize": {
            "Type": "Pass",
            "Result": {
                "state_manager": {
                    "counter": 0
                }
            },
            "Next": "Test"
        },
        "Increment": {
            "Type": "ExpressionEval",
            "Parameters": {
                "counter.=": "state_manager.counter + 1"
            },
            "ResultPath": "$.state_manager",
            "Next": "Test"
        },
        "Success": {
            "Type": "Pass",
            "End": true
        }
    }
}
