examples/flows/loop-a-set-number-of-times/definition.yaml
# Count to 10 using the Flows service.
#
# The flow defined below is roughly equivalent to a `for` loop:
# It initializes a `counter` variable in a `state_manager` and
# increments `counter` until its value equals 10.
#
# The `counter` variable is stored in a `state_manager` variable
# so a ResultPath can be specified in the "Increment" state.
#
StartAt: "Test"
States:
  Test:
    Type: "Choice"
    Choices:
      - Variable: "$.state_manager"
        IsPresent: false
        Next: "Initialize"
      - Variable: "$.state_manager.counter"
        NumericLessThan: 10
        Next: "Increment"
    Default: "Success"
  Initialize:
    Type: "Pass"
    Result:
      state_manager:
        counter: 0
    Next: "Test"
  Increment:
    Type: "ExpressionEval"
    Parameters:
      "counter.=": "state_manager.counter + 1"
    ResultPath: "$.state_manager"
    Next: "Test"
  Success:
    Type: "Pass"
    End: true
