flows/multi_transfer_flow_with_identifier.json
{
  "Comment": "Two step transfer and Identifier Creation",
  "StartAt": "Transfer1",
  "States": {
    "Transfer1": {
      "Comment": "Initial Transfer from Campus to DMZ",
      "Type": "Action",
      "ActionUrl": "https://actions.automate.globus.org/Transfer",
      "ActionScope": "https://auth.globus.org/scopes/helloworld.actions.automate.globus.org/globus_transfer_action_all",
      "InputPath": "$.Transfer1Input",
      "ResultPath": "$.Transfer1Result",
      "Next": "Transfer2"
    },
    "Transfer2": {
      "Comment": "Transfer from DMZ to dataset repository",
      "Type": "Action",
      "ActionUrl": "https://actions.automate.globus.org/Transfer",
      "ActionScope": "https://auth.globus.org/scopes/helloworld.actions.automate.globus.org/globus_transfer_action_all",
      "InputPath": "$.Transfer2Input",
      "ResultPath": "$.Transfer2Result",
      "Next": "CreateIdentifier"
    },
    "CreateIdentifier": {
      "Type": "Action",
      "ActionUrl": "https://actions.automate.globus.org/Identifiers",
      "ActionScope": "https://auth.globus.org/scopes/5fac2e64-c734-4e6b-90ea-ff12ddbf9653/identifiers_run_status_release",
      "InputPath": "$.IdentifierInput",
      "ResultPath": "$.IdentifierResult",
      "End": true
    }    
  }
}
