examples/flows/loop-with-batch-processing/definition.json
{
    "StartAt": "setup",
    "States": {
        "setup": {
            "Type": "Pass",
            "Parameters": {
                "state": {
                    "i": 0,
                    "batches": []
                },
                "step.$": "$.step"
            },
            "Next": "ls"
        },
        "ls": {
            "Type": "Action",
            "ActionUrl": "https://actions.globus.org/transfer/ls",
            "Parameters": {
                "endpoint_id": "ddb59aef-6d04-11e5-ba46-22000b92c6ec",
                "path": "/~/"
            },
            "ResultPath": "$.ls",
            "Next": "loop"
        },
        "loop": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.state.i",
                    "NumericLessThanPath": "$.ls.details.length",
                    "Next": "process-batch"
                }
            ],
            "Default": "done"
        },
        "process-batch": {
            "Type": "ExpressionEval",
            "Parameters": {
                "i.$": "$.state.i",
                "batches.=": "state.batches + [[file.name for file in ls.details.DATA[state.i:state.i+step]]]"
            },
            "ResultPath": "$.state",
            "Next": "increment-batch"
        },
        "increment-batch": {
            "Type": "ExpressionEval",
            "Parameters": {
                "i.=": "state.i + step",
                "batches.$": "$.state.batches"
            },
            "ResultPath": "$.state",
            "Next": "loop"
        },
        "done": {
            "Type": "Pass",
            "End": true
        }
    }
}
